<header style="min-height: 75vh; position: relative;">
    <div class="header-content" style="position: absolute; top: 75%; left: 50%; transform: translate(-50%, -50%);">
        <div class="header-content-inner">
            <h1>Hyun-Myung Woo</h1>
            <hr>
            <p class="no-spacing" style="margin-top: 0; margin-bottom: 0;">Assistant Professor</p>
            <p class="no-spacing" style="margin-top: 0; margin-bottom: 0;">Department of Biomedical & Robotics</p>
            <p class="no-spacing" >Incheon National University</p>
            <a href="#biography" class="btn btn-primary btn-xl page-scroll">Biography</a>
        </div>
    </div>
</header>
