<section class="bg-primary" id="projects">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-0 text-center">
                <h2 class="section-heading">Current Projects</h2>
                <hr class="light">
                <div class="col-lg-12 col-lg-offset-0 text-left">
                    <p class="text-faded">[Alchemist] Development of Oral Wearable/Implantable Neural Stimulator for Sleep Apnea Rehabilitation Treatment. Korea Institute for Advancement of Technology (KIAT)(2025~)</p>
                    <p class="text-faded">[First Research in Lifetime] Reinforcement Learning-based Optimal Decision Making in High-Throughput Virtual Screening (HTVS) Pipelines. The National Research Foundation of Korea (NRF) (2023~2025)</p>
                    <p class="text-faded">[Internal University Research Project] Deep Learning-Driven Multi-Objective Uncertainty Quantification for Accelerated Optimal Experimental Design (2025~2026)</p>

                </div>       
                <h2 class="section-heading">Previous Projects</h2>
                <hr class="light">
                <div class="col-lg-12 col-lg-offset-0 text-left">
                    <p class="text-faded">[Internal University Research Project] Knowledge Discovery using Machine Learning for the Objective-based Optimal Experimental Design. Incheon National University (2024~2025)</p>
                    <p class="text-faded">[Internal University Research Project] Accelerating the Objective-based Optimal Experimental Design using Machine Learning. Incheon National University (2023~2024)</p>    
                </div>         
            </div>
        </div>
    </div>
</section>
